---
interface Props {
  legal?: string;
}

const year = new Date().getFullYear();

const { legal = `© ${year} Hypefluency. All rights reserved.` } = Astro.props;

const socials = [
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/company/hypefluency/',
    path: 'M19.8423 0H1.58203C0.70731 0 0 0.690569 0 1.54436V19.88C0 20.7338 0.70731 21.4286 1.58203 21.4286H19.8423C20.7171 21.4286 21.4286 20.7338 21.4286 19.8842V1.54436C21.4286 0.690569 20.7171 0 19.8423 0ZM6.35742 18.2603H3.17662V8.03152H6.35742V18.2603ZM4.76702 6.63783C3.74581 6.63783 2.92132 5.81333 2.92132 4.79631C2.92132 3.77929 3.74581 2.9548 4.76702 2.9548C5.78404 2.9548 6.60853 3.77929 6.60853 4.79631C6.60853 5.80915 5.78404 6.63783 4.76702 6.63783ZM18.2603 18.2603H15.0837V13.2882C15.0837 12.1038 15.0628 10.5762 13.4305 10.5762C11.7773 10.5762 11.5262 11.8694 11.5262 13.2045V18.2603H8.35379V8.03152H11.4007V9.42941H11.4425C11.8652 8.62583 12.9032 7.77622 14.4475 7.77622C17.666 7.77622 18.2603 9.89397 18.2603 12.6479V18.2603Z',
  },
  {
    label: 'Instagram',
    href: 'https://www.instagram.com/hypefluency/',
    path: 'M10.7143 1.92941C13.577 1.92941 13.916 1.94196 15.0418 1.99219C16.0882 2.03822 16.6532 2.21401 17.0298 2.36049C17.5279 2.55301 17.8878 2.78739 18.2603 3.15988C18.637 3.53655 18.8672 3.8923 19.0597 4.39034C19.2062 4.76702 19.382 5.33621 19.428 6.37835C19.4782 7.50837 19.4908 7.84737 19.4908 10.7059C19.4908 13.5686 19.4782 13.9076 19.428 15.0335C19.382 16.0798 19.2062 16.6448 19.0597 17.0215C18.8672 17.5195 18.6328 17.8795 18.2603 18.2519C17.8836 18.6286 17.5279 18.8588 17.0298 19.0513C16.6532 19.1978 16.084 19.3736 15.0418 19.4196C13.9118 19.4699 13.5728 19.4824 10.7143 19.4824C7.85156 19.4824 7.51255 19.4699 6.38672 19.4196C5.3404 19.3736 4.77539 19.1978 4.39872 19.0513C3.90067 18.8588 3.54074 18.6244 3.16825 18.2519C2.79157 17.8753 2.56138 17.5195 2.36886 17.0215C2.22238 16.6448 2.0466 16.0756 2.00056 15.0335C1.95033 13.9035 1.93778 13.5644 1.93778 10.7059C1.93778 7.84319 1.95033 7.50418 2.00056 6.37835C2.0466 5.33203 2.22238 4.76702 2.36886 4.39034C2.56138 3.8923 2.79576 3.53236 3.16825 3.15988C3.54492 2.7832 3.90067 2.55301 4.39872 2.36049C4.77539 2.21401 5.34459 2.03822 6.38672 1.99219C7.51255 1.94196 7.85156 1.92941 10.7143 1.92941ZM10.7143 0C7.80552 0 7.4414 0.0125558 6.29883 0.062779C5.16043 0.113002 4.37779 0.297154 3.69978 0.560826C2.99247 0.837053 2.39397 1.20117 1.79966 1.79966C1.20117 2.39397 0.837053 2.99247 0.560826 3.69559C0.297154 4.37779 0.113002 5.15625 0.062779 6.29464C0.0125558 7.4414 0 7.80552 0 10.7143C0 13.623 0.0125558 13.9872 0.062779 15.1297C0.113002 16.2681 0.297154 17.0508 0.560826 17.7288C0.837053 18.4361 1.20117 19.0346 1.79966 19.6289C2.39397 20.2232 2.99247 20.5915 3.69559 20.8636C4.37779 21.1272 5.15625 21.3114 6.29464 21.3616C7.43722 21.4118 7.80134 21.4244 10.7101 21.4244C13.6189 21.4244 13.983 21.4118 15.1256 21.3616C16.2639 21.3114 17.0466 21.1272 17.7246 20.8636C18.4277 20.5915 19.0262 20.2232 19.6205 19.6289C20.2148 19.0346 20.5831 18.4361 20.8552 17.733C21.1189 17.0508 21.303 16.2723 21.3532 15.1339C21.4035 13.9913 21.416 13.6272 21.416 10.7185C21.416 7.80971 21.4035 7.44559 21.3532 6.30301C21.303 5.16462 21.1189 4.38197 20.8552 3.70396C20.5915 2.99247 20.2274 2.39397 19.6289 1.79966C19.0346 1.20536 18.4361 0.837053 17.733 0.565011C17.0508 0.301339 16.2723 0.117187 15.1339 0.0669643C13.9872 0.0125558 13.623 0 10.7143 0Z',
    extraPaths: [
      'M10.7141 5.21094C7.67557 5.21094 5.21045 7.67606 5.21045 10.7146C5.21045 13.7531 7.67557 16.2182 10.7141 16.2182C13.7526 16.2182 16.2177 13.7531 16.2177 10.7146C16.2177 7.67606 13.7526 5.21094 10.7141 5.21094ZM10.7141 14.2846C8.74281 14.2846 7.14404 12.6858 7.14404 10.7146C7.14404 8.7433 8.74281 7.14453 10.7141 7.14453C12.6853 7.14453 14.2841 8.7433 14.2841 10.7146C14.2841 12.6858 12.6853 14.2846 10.7141 14.2846Z',
      'M17.7204 4.99298C17.7204 5.70448 17.1429 6.27786 16.4355 6.27786C15.724 6.27786 15.1507 5.70029 15.1507 4.99298C15.1507 4.28149 15.7282 3.70811 16.4355 3.70811C17.1429 3.70811 17.7204 4.28567 17.7204 4.99298Z',
    ],
  },
  {
    label: 'Twitter',
    href: 'https://www.twitter.com/hypefluency/',
    path: 'M0 21.4286L1.50625 15.9259C0.576785 14.3152 0.0883928 12.4893 0.0892857 10.617C0.0919643 4.76339 4.85536 0 10.708 0C13.5482 0.000892857 16.2143 1.10714 18.2196 3.11428C20.2241 5.12143 21.3277 7.78928 21.3268 10.6268C21.3241 16.4812 16.5607 21.2446 10.708 21.2446C8.93125 21.2437 7.18035 20.7982 5.62946 19.9518L0 21.4286ZM5.89018 18.0295C7.3866 18.9179 8.81517 19.45 10.7045 19.4509C15.5687 19.4509 19.5312 15.492 19.5339 10.625C19.5357 5.74821 15.592 1.79464 10.7116 1.79286C5.84375 1.79286 1.88393 5.75178 1.88214 10.6179C1.88125 12.6045 2.46339 14.092 3.44107 15.6482L2.54911 18.9053L5.89018 18.0295ZM16.0571 13.1509C15.9911 13.0402 15.8143 12.9741 15.5482 12.8411C15.283 12.708 13.9786 12.0661 13.7348 11.9777C13.492 11.8893 13.3152 11.8446 13.1375 12.1107C12.9607 12.3759 12.4518 12.9741 12.2973 13.1509C12.1429 13.3277 11.9875 13.35 11.7223 13.217C11.4571 13.0839 10.6018 12.8045 9.58839 11.9C8.8 11.1964 8.26696 10.3277 8.1125 10.0616C7.95803 9.79642 8.09643 9.65267 8.22857 9.52053C8.34821 9.40178 8.49375 9.21071 8.62678 9.05535C8.7616 8.90178 8.80535 8.79107 8.89464 8.61339C8.98303 8.4366 8.93928 8.28125 8.87232 8.14821C8.80535 8.01607 8.275 6.70982 8.05446 6.17857C7.83839 5.6616 7.61964 5.73125 7.45714 5.72321L6.94821 5.71428C6.77143 5.71428 6.48393 5.78035 6.24107 6.04643C5.99821 6.3125 5.3125 6.95357 5.3125 8.25982C5.3125 9.56607 6.26339 10.8277 6.39553 11.0045C6.52857 11.1812 8.26607 13.8616 10.9277 15.0107C11.5607 15.2839 12.0554 15.4473 12.4402 15.5696C13.0759 15.7714 13.6545 15.7429 14.1116 15.675C14.6214 15.5991 15.6812 15.033 15.9027 14.4134C16.1241 13.7929 16.1241 13.2616 16.0571 13.1509Z',
  },
] as const;
---

<div class="footer-legal-social-wrapper bg-black px-[15px] py-[24px]">
  <hr class="border-0 border-t border-[#bebebe]" />

  <div class="mt-6 flex flex-col items-center justify-between gap-4 sm:flex-row">
    <p class="footer-legal text-sm text-[#727272]">{legal}</p>

    <div class="footer-social flex gap-4">
      {
        socials.map((social) => (
          <a
            href={social.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={social.label}
            title={social.label}
            class="text-[#282828] transition hover:-translate-y-0.5 hover:text-white"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d={social.path} fill="currentColor" />
              {'extraPaths' in social &&
                social.extraPaths.map((d) => <path d={d} fill="currentColor" />)}
            </svg>
          </a>
        ))
      }
    </div>
  </div>
</div>
